@import "~shared/style/mixins";
@import "~shared/style/colors";

$ROW_HEIGHT: 60px;
$ROW_KEY_WIDTH: 173px;
$TITLE_PADDING_BOTTOM: 7px;

.list-parent-container {
    text-align: left;
    width: inherit;

    .title-container {
        width: inherit;
        border-bottom: 1px solid $SECONDARY_TEXT_COLOR;
        padding-bottom: $TITLE_PADDING_BOTTOM;

        .list-title {
            width: 100%;
            @include headers;
        }
    }

    .list-table {
        width: 100%;
        @include generalFont;
        align-items: center;
        border-collapse: collapse;
        
        .table-row {
            height: $ROW_HEIGHT;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .row-key {
                color: $SECONDARY_TEXT_COLOR;
                width: $ROW_KEY_WIDTH;
            }
            
            .row-content {
                color: $PRIMARY_TEXT_COLOR;
                
                .center-content {
                    display: table;
                }
            }
        }
    }
}