@import "~shared/style/mixins";
@import "~shared/style/variables";

.login-parent-container {
    margin-left: $SIDE_MARGIN_MAIN_CONTENT;
    padding-top: 150px;
    display: flex;
    flex-direction: column;

    .login-title {
        @include pageTitle;
    }

    .login-detail {
        margin-top: 30px;
        @include generalFont;
    }

    .login-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;

        .action-text {
            margin-left: 20px;
        }

        .text-button-login {
            margin-top: 3px;
            padding-left: 3px;
        }
    }
}