@import "colors";
@import "fonts";
@import "variables";

@mixin pageTitle {
    font-family: $REGULAR_FONT;
    font-size: $PAGE_TITLE_FONT_SIZE;
    font-weight: bold;
}

@mixin headers {
    font-family: $REGULAR_FONT;
    font-size: $HEADING_FONT_SIZE;
    font-weight: bold;
}

@mixin dataTableResultNumber {
    font-family: $REGULAR_FONT;
    font-size: $DATA_TABLE_RESULT_FONT_SIZE;
}

@mixin dataTableColHeader {
    font-family: $REGULAR_FONT;
    font-size: $DATA_TABLE_COL_HEADER_FONT_SIZE;
    color: $PRIMARY_TEXT_COLOR;
    font-weight: bold;
}

@mixin generalFont {
    font-family: $REGULAR_FONT;
    font-size: $GENERAL_FONT_SIZE;
}

@mixin buttonOnFocus {
    background-color: $FOCUS_COLOR;
    box-shadow: inset 0 (-$FOCUS_BORDER_WIDTH) 0 $PRIMARY_TEXT_COLOR;
    color: $PRIMARY_TEXT_COLOR;
}

@mixin hideContent {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin stylingForIE {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin text-tab-underline {
    width: fit-content;
    height: 100%;
    border-bottom: 3px solid $PRIMARY_COLOR;
    padding-bottom: 10px;
}

@mixin alpha-sign {
    height: 22px;
    width: 80px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    color: $LIGHTEST_FORGROUND_COLOR;
    background-color: $PRIMARY_COLOR;
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}