@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/variables";
@import "~shared/style/mixins";

$FEEDBACK_HEIGHT: 50px;
$BUTTONS_HEIGHT: 80px;
$COPYRIGHT_HEIGHT: 120px;
$ALPHA_TEXT_HEIGHT: 22px;
$ALPHA_TEXT_WIDTH: 66px;
$COPYRIGHT_CONTENT_MARGIN_BOTTOM: 40px;

$LINE_SEPERATOR_COLOR: #2f81c9;
$COPYRIGHT_FONT_COLOR: #80bdeb;

.footer-parent-container {
    width: 100%;

    .feedback-container {
        height: $FEEDBACK_HEIGHT;
        background-color: $LIGHTER_FORGROUND_COLOR;
        font-family: $REGULAR_FONT;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: $SIDE_MARGIN_MAIN_CONTENT;

        .alpha-sign {
            @include alpha-sign;
        }

        .feedback-text {
            margin-left: 14px;
        }
    }

    .button-container {
        height: $BUTTONS_HEIGHT;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $PRIMARY_COLOR;
        padding-left: $SIDE_MARGIN_MAIN_CONTENT;
        border-bottom: 1px solid $LINE_SEPERATOR_COLOR;

        .text-button {
            color: $LIGHTEST_FORGROUND_COLOR;
            font-size: $GENERAL_FONT_SIZE;
            margin-right: $SIDE_MARGIN_MAIN_CONTENT;

            &:active, &:focus {
                color: $PRIMARY_TEXT_COLOR;
            }
        }
    }

    .copyright-container {
        height: $COPYRIGHT_HEIGHT;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $PRIMARY_COLOR;
        padding-left: $SIDE_MARGIN_MAIN_CONTENT;
        padding-right: $SIDE_MARGIN_MAIN_CONTENT;
        color: $COPYRIGHT_FONT_COLOR;
        font-size: $GENERAL_FONT_SIZE;

        .copyright-content {
            margin-bottom: $COPYRIGHT_CONTENT_MARGIN_BOTTOM;
        }

        .logo-footer {
            margin-bottom: $COPYRIGHT_CONTENT_MARGIN_BOTTOM;
        }
    }
}
