<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" th:href="@{{base}/resources/css/CardPayment.css(base=${base})}"/>
	</head>
	<body class="main-page">
		<div class="card-payment-main margin-bottom-large">
			<div class="title margin-bottom-large">
				<div class="pay-for-a-government margin-bottom-large">
					Pay for a government service
				</div>
			</div>
			<div class="flex-row margin-bottom-large">
				<div class="heading-main error-color"  th:text="${errorTitle}"></div>
			</div>
			<div class="margin-bottom-xlarge">
				<div class="error-message error-color" th:text="${errorText}"></div>
			</div>
			<div class="margin-bottom-xlarge">
				<div class="error-message error-color" th:text="${errorDetail}"></div>
			</div>
			<a class="cancel padding-top-large" th:href="@{${serviceUrl}}" >Click here to go back to service.</a>
		</div>
			
			<div class="footer flex-row margin-left-xlarge">
					<div class="footer-link margin-left-large">About</div>
					<div class="footer-link margin-left-large">Cookies</div>
					<div class="footer-link margin-left-large">Privacy</div>
			</div>
	</body>
</html>
