@import "~shared/style/mixins";
@import "~shared/style/variables";

$SUBMISSIONS_TITLE_PADDING_TOP: 20px;
$SUBMISSIONS_TITLE_PADDING_BOTTOM: 20px; 

$SUBMISSIONS_FILTER_HEIGHT: 120px;
$SUBMISSIONS_MARGIN_BOTTOM: 58px;

.submission-page-parent-container {
    height: 100%;
    padding-left: $SIDE_MARGIN_MAIN_CONTENT;
    padding-right: $SIDE_MARGIN_MAIN_CONTENT;
    display: flex;
    flex-direction: column;

    .submissions-page-title-container {
        padding-top: $SUBMISSIONS_TITLE_PADDING_TOP;
        padding-bottom: $SUBMISSIONS_TITLE_PADDING_BOTTOM;

        .submissions-title {
            @include pageTitle;
        }
    }

    // .submissions-filters {
    //     height: $SUBMISSIONS_FILTER_HEIGHT;
    // }

    .submissions-page-result-number-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 15px;

        .result-number {
            @include dataTableResultNumber;
        }
    }

    .submissions-table-container {
        height: fit-content;
        margin-bottom: $SUBMISSIONS_MARGIN_BOTTOM;

        .no-result-text {
            @include dataTableResultNumber;
        }
    }
}