@import "~shared/style/fonts";
@import "~shared/style/colors";
@import "~shared/style/variables";
@import "~shared/style/mixins";

$BORDER_TOP_HEIGHT: $HEADER_TOP_BORDER_HEIGHT;
$MARGIN_LEFT_CONTAINER: 35px;

.header-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $HEADER_HEIGHT;
    padding-left: ($SIDE_MARGIN_MAIN_CONTENT - 3px);
    border-top: $BORDER_TOP_HEIGHT solid $PRIMARY_COLOR;
    border-bottom: 1px solid $LIGHT_FORGROUND_COLOR;

    .left-container {
        display: flex;
        align-items: center;
        
        hr.vertical-line {
            margin-left: $MARGIN_LEFT_CONTAINER;
            height: 60px;
            width: 0;
            border: 1px solid $PRIMARY_COLOR;
        }

        .title-website {
            margin-left: $MARGIN_LEFT_CONTAINER;
            font-family: $REGULAR_FONT;
            font-size: $HEADING_FONT_SIZE;
        }

        .alpha-sign {
            margin-top: 4px;
            margin-left: 20px;
            @include alpha-sign;
        }
    }

    .right-container {
        padding-right: $SIDE_MARGIN_MAIN_CONTENT;

        .sign-out-button {
            height: fit-content;
            width: fit-content;
            border: none;
            background-color: $LIGHTEST_FORGROUND_COLOR;
            cursor: pointer;
            font-family: $REGULAR_FONT;
            color: $PRIMARY_TEXT_COLOR;
            font-size: $GENERAL_FONT_SIZE;
        }
    }
}