@import "~shared/style/colors";
@import "~shared/style/mixins";

$PAGING_TEXT_BUTTON_MARGIN: 10px;
$TEXT_NUMBER_SEPERATOR_SIDE_MARGIN: 5px;
$TEXT_NUMBER_SEPERATOR_VERT_MARGIN: 1px;

.paging-buttons-parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-button {
        margin-right: $PAGING_TEXT_BUTTON_MARGIN;
        margin-left: $PAGING_TEXT_BUTTON_MARGIN;
        text-decoration: none;
    }

    .text-number-seperator {
        @include unselectable;
        color: $PRIMARY_COLOR;
        margin-bottom: $TEXT_NUMBER_SEPERATOR_VERT_MARGIN;
        margin-left: $TEXT_NUMBER_SEPERATOR_SIDE_MARGIN;
        margin-right: $TEXT_NUMBER_SEPERATOR_SIDE_MARGIN;
    }
}