@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/mixins";
@import "~shared/style/variables";

.loader-button {
    height: $BUTTON_HEIGHT;
    width: $BUTTON_WIDTH;
    border: none;
    background-color: $PRIMARY_COLOR;
    outline: transparent;

    .button-text {
        line-height: 49px;
        text-align: center;
        vertical-align: middle;
        color: $LIGHTEST_FORGROUND_COLOR;
        font-family: $REGULAR_FONT;
        font-size: $GENERAL_FONT_SIZE;
    }
    
    @keyframes spinner {
        to {transform: rotate(360deg);}
    }
       
    .spinner:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: 45px;
        margin-top: -35px;
        border-radius: 50%;
        border-top: 2px solid $LIGHT_FORGROUND_COLOR;
        border-right: 2px solid transparent;
        animation: spinner .6s linear infinite;
    }

    @include stylingForIE {
        .spinner:before {
            margin-left: 112px;
        }
    }
      

    &:hover {
        background-color: $PRIMARY_HOVER_COLOR;
    }
    
    &:active, &:focus {
        @include buttonOnFocus;

        .button-text {
            color: $PRIMARY_TEXT_COLOR;
        }
        .spinner:before {
            border-top: 2px solid $PRIMARY_TEXT_COLOR;
        }
    }
}