@import "~shared/style/mixins";
@import "~shared/style/fonts";
@import "~shared/style/colors";
@import "~shared/style/variables";

$PAGINATION_BUTTON_HEIGHT: 35px;
$PAGINATION_BUTTON_WIDTH: 35px;

.pagination-button {
    height: $PAGINATION_BUTTON_HEIGHT;
    width: $PAGINATION_BUTTON_WIDTH;
    border: transparent;
    background-color: $LIGHTEST_FORGROUND_COLOR;
    color: $PRIMARY_COLOR;
    font-size: $GENERAL_FONT_SIZE;
    cursor: pointer;

    &:hover {
        color: $PRIMARY_HOVER_COLOR   
    }
    &:active {
        @include buttonOnFocus;
    }

    &:focus {
        outline: auto;
    }
}

.pagination-button-selected {
    box-shadow: inset 0 (-2px) 0 $PRIMARY_COLOR;
    background-color: $LIGHTER_FORGROUND_COLOR;
    cursor: context-menu;
    outline: none;
}
