@import "~shared/style/colors";

$SUBMISSIONS_MARGIN_BOTTOM: 58px;

.submissions-table-container {
    height: fit-content;
    margin-bottom: $SUBMISSIONS_MARGIN_BOTTOM;

    .failed-submission {
        color: $SECONDARY_TEXT_COLOR;
    }
}